<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!--默认是开启二级缓存的  value属性值默认为true-->
		<setting name="cacheEnabled" value="true"/>
	</settings>
</configuration>
